body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 12px;
}

.btn {
    border-radius: 8px;
}

.table {
    vertical-align: middle;
}

.form-control,
.form-select {
    border-radius: 8px;
}
@media print {

  .navbar,
  .btn,
  .nao-imprimir {
    display: none !important;
  }

  body {
    background: white !important;
    margin: 0;
    padding: 0;
  }

  #root {
    display: block !important;
    width: 100% !important;
    max-width: 100% !important;
    min-height: auto !important;
    border: none !important;
  }

  .container {
    width: 100% !important;
    max-width: 100% !important;
  }

  .card {
    border: none !important;
    box-shadow: none !important;
  }

  table {
    width: 100% !important;
    border-collapse: collapse !important;
    font-size: 11px;
  }

  th,
  td {
    border: 1px solid #000 !important;
    padding: 5px !important;
  }

  thead {
    display: table-header-group;
  }

  tr {
    page-break-inside: avoid;
  }
  .somente-impressao{
    display:block !important;
}
}
.somente-impressao{
    display:none;
}